[submodule "/Users/kidsaccount/Documents/XCode projects/mlem-UPSTREAM/Mlem/Packages/MlemMiddleware/Sources/MlemMiddleware/MlemApiTypes"]
	path = /Users/kidsaccount/Documents/XCode projects/mlem-UPSTREAM/Mlem/Packages/MlemMiddleware/Sources/MlemMiddleware/MlemApiTypes
	url = https://github.com/mlemgroup/MlemApiTypes
