--wraparguments before-first
--commas inline
--disable wrapMultilineStatementBraces
--trimwhitespace nonblank-lines
--stripunusedargs closure-only
--header ignore
--disable self
--disable headerFileName