--wraparguments before-first
--commas inline
--disable wrapMultilineStatementBraces
--trimwhitespace nonblank-lines
--self init-only
--stripunusedargs closure-only
--header ignore
--disable headerFileName