name: CI - Build & Test - Xcode 15

on:
    push:
        branches:
        - master
        - dev

    pull_request:
        branches:
        - master
        - dev

jobs:
  Build:
    permissions: write-all
    runs-on: macos-14
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Build
      uses: "./.github/actions/ci_xcodebuild"
      with:
        xcode_version: "15.4"
        xcodebuild_destination: "platform=iOS Simulator,name=iPhone 14,OS=17.6.1"
        xcodebuild_action: "build"

  Test:
    permissions: write-all
    runs-on: macos-14
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Build
      uses: "./.github/actions/ci_xcodebuild"
      with:
        xcode_version: "15.4"
        xcodebuild_destination: "platform=iOS Simulator,name=iPhone 14,OS=17.6.1"
        xcodebuild_action: "test"
